/*
Aufgabe: L03_MemorySettings
Name: Kenan Coskun
Matrikel: 265335
Datum: 21.04.22
*/

body{
    font-family: Calibri;
    text-align: center;
    background-color: #4699CC;
    color: white;
}

.gameInputs {
    text-align: center;
    position: relative;
    top: 5px;
}
.cardClick:hover {
    opacity: 0.5;
}

.numberHidden:hover {
    opacity: 0.5;
}

.numberVisible:hover{
    opacity: 0.5;
}